n8n_workflows/Agente Conciertos.json
{
  "name": "Agente Conciertos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "9dc10bd5-ddf1-4d3c-a386-bbf54824784e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2032,
        384
      ]
    },
    {
      "parameters": {
        "url": "https://datos.madrid.es/egob/catalogo/206974-0-agenda-eventos-culturales-100.json",
        "options": {}
      },
      "id": "b7bc00e1-ff34-4e52-904d-99b675068291",
      "name": "API Datos Madrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1808,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst events = data['@graph'] || [];\n\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst concerts = events.filter(e => {\n  const type = e['@type'] || '';\n  const title = e['title'] || '';\n  if (!type.includes('Música') && !type.includes('Concierto') && !title.toLowerCase().includes('concierto')) {\n      return false;\n  }\n  if (!e.dtstart) return false;\n  const eventDate = new Date(e.dtstart);\n  return eventDate >= today;\n});\n\nconcerts.sort((a, b) => new Date(a.dtstart) - new Date(b.dtstart));\nconst topConcerts = concerts.slice(0, 10);\nif (topConcerts.length === 0) return [];\n\nlet listaDatos = [];\ntopConcerts.forEach(c => {\n  const date = c.dtstart ? c.dtstart.split(' ')[0] : 'Sin fecha';\n  const time = c.time || 'Sin hora';\n  let location = c['event-location'] || '';\n  if (!location && c.organization && c.organization['organization-name']) {\n      location = c.organization['organization-name'];\n  }\n  if (!location) location = 'Verificar en web oficial';\n  \n  listaDatos.push({\n      titulo: c.title,\n      fecha: date,\n      hora: time,\n      lugar: location\n  });\n});\n\nreturn [{ json: { mensaje: JSON.stringify(listaDatos, null, 2) } }];\n"
      },
      "id": "0d477a6b-3282-4146-9981-d1b52f20d985",
      "name": "Procesar API Madrid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nlet textoCompleto;\n\ntry {\n  const data = item.json;\n  // Groq usa 'choices' igual que OpenAI\n  if (data && data.choices && data.choices.length > 0) {\n    textoCompleto = data.choices[0].message.content;\n  } else {\n    return [{ json: { mensaje: \"Error: Groq no devolvió texto.\" } }];\n  }\n} catch (e) {\n  return [{ json: { mensaje: \"Error procesando la respuesta de Groq.\" } }];\n}\n\nreturn [{\n  json: {\n    mensaje: textoCompleto\n  }\n}];\n"
      },
      "id": "09749f38-8419-4973-823e-d252fc98db1e",
      "name": "Extraer Respuesta LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.BOT_CONCIERTOS_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.CHAT_CONCIERTOS_ID }}\",\n  \"text\": {{ JSON.stringify($json.mensaje) }},\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "e53681b8-1573-46ca-9390-a6d188e5a6c1",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -704,
        272
      ]
    },
    {
      "parameters": {
        "fromEmail": "brian.bedoya.2605@gmail.com",
        "toEmail": "brian.bedoya.2605@gmail.com",
        "subject": "🎸 Conciertos de la Semana en Madrid",
        "text": "={{ $json.mensaje }}",
        "options": {}
      },
      "id": "b15707d3-32e3-47d4-b6b9-c2827354338f",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -704,
        480
      ],
      "webhookId": "67df559c-acba-45e5-90bb-6b7523a8f6f0",
      "credentials": {
        "smtp": {
          "id": "SpL0cfsBgEj8rQZY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un experto en redes sociales. Tu tarea es maquetar la lista de conciertos que te den EXACTAMENTE con este formato para Telegram, sin omitir ningún asterisco ni salto de línea:\\n\\n🎸 **[Título]** 🎥\\n📅 Fecha: [Fecha] | ⏰ Hora: [Hora]\\n📍 Lugar: [Lugar]\\n\\n---\\n\\nNo añadas saludos iniciales. No añadas despedidas. Solo pon los conciertos. Asegúrate de cerrar todos los asteriscos ** correctamente para evitar errores de renderizado en Telegram.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.mensaje) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a2971877-d9d8-487b-80af-4b009332788f",
      "name": "Groq Guardrail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        384
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "API Datos Madrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Datos Madrid": {
      "main": [
        [
          {
            "node": "Procesar API Madrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar API Madrid": {
      "main": [
        [
          {
            "node": "Groq Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Respuesta LLM": {
      "main": [
        [
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Guardrail": {
      "main": [
        [
          {
            "node": "Extraer Respuesta LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5108c5f5-3b88-454e-8f11-c0c38914f6ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48290d566f203b93276bb64d9746dd29d55b9eff1921fdafc197866bb84bdf1b"
  },
  "id": "xv5bhdP3m5i3KMlz",
  "tags": []
}