n8n_workflows/Chat interactivo para la cartelera.json
{
  "name": "Chat interactivo para la cartelera",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "86b24ff3-adf1-495e-bdcc-37b7f445b5ed",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -864,
        112
      ],
      "webhookId": "chat-webhook-1234"
    },
    {
      "parameters": {
        "bucketName": "cartelera",
        "fileKey": "cartelera_latest.json"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -688,
        112
      ],
      "id": "aa83c710-aa18-49ea-b051-6bf7b7aaa197",
      "name": "Download a file",
      "credentials": {
        "s3": {
          "id": "imwabrPsL4mp8Ly6",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Leemos el archivo binario de S3\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst jsonString = binaryData.toString('utf-8');\nconst cartelera = JSON.parse(jsonString);\n\n// Pasamos toda la cartelera junta en la propiedad \"cartelera\"\nreturn [{ json: { cartelera: cartelera } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        112
      ],
      "id": "facd3669-1468-469a-9cbd-2a4931be5584",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu trabajo es clasificar el mensaje de un usuario sobre cine en una de dos opciones: 'chat' o 'soundtrack'. Si el usuario pide crear, generar o escuchar una banda sonora, canción, melodía o soundtrack de una película de la cartelera, responde 'soundtrack'. Para todo lo demás (preguntas, sinopsis, recomendaciones o saludos), responde 'chat'. Responde ÚNICAMENTE con la palabra 'chat' o 'soundtrack' sin explicaciones ni formato adicional.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Webhook').first().json.body.message.text) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "af0ef144-7c5c-468b-8687-93a669af89ee",
      "name": "Clasificador de Intención",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -368,
        112
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.choices[0].message.content.trim().toLowerCase() }}",
        "rules": {
          "rules": [
            {
              "value2": "soundtrack"
            },
            {
              "value2": "chat"
            }
          ]
        }
      },
      "id": "6c316b7d-7bd8-4e2f-9094-c560ae1fb04b",
      "name": "Enrutador de Consultas",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        -176,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"llama-3.1-8b-instant\", messages: [{ role: \"system\", content: \"Eres un simpático acomodador de cine. Responde de forma muy amigable basándote en la cartelera que te pasamos.\" }, { role: \"user\", content: \"PREGUNTA: \" + $('Webhook').first().json.body.message.text + \"\\n\\nCARTELERA: \" + JSON.stringify($('Code in JavaScript').first().json.cartelera) }] }) }}",
        "options": {}
      },
      "id": "e5e4ffe4-4651-4c0d-8762-ecbe5567f67a",
      "name": "Chat Acomodador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet respuesta = \"Lo siento, he tenido un problema procesando tu pregunta.\";\n\nif (data && data.choices && data.choices.length > 0) {\n  respuesta = data.choices[0].message.content;\n}\n\nreturn [{ \n  json: { \n    mensaje: respuesta, \n    chat_id: $('Webhook').first().json.body.message.chat.id \n  } \n}];"
      },
      "id": "54f9284c-137d-4fa5-8c63-070bcbf8df28",
      "name": "Extraer Respuesta Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"chat_id\": $json.chat_id,\n  \"text\": $json.mensaje,\n  \"parse_mode\": \"Markdown\"\n}\n}}",
        "options": {}
      },
      "id": "a16f85a9-1511-495c-8c4f-ce5336be6827",
      "name": "Enviar Respuesta Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        368,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un compositor experto de bandas sonoras. El usuario quiere generar un tema musical para una película de la cartelera. Basándote en la cartelera que te pasamos, busca la película que indica el usuario y genera un JSON con dos campos:\\n- 'pelicula': El título de la película.\\n- 'style': Un prompt musical descriptivo de 6 a 10 palabras (ej: 'sci-fi electronic synthwave, dramatic brass, hans zimmer style' o 'melancholic piano, soft violin, emotional orchestral').\\nResponde ÚNICAMENTE con el objeto JSON válido, sin explicaciones ni markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"PREGUNTA: \" + $('Webhook').first().json.body.message.text + \"\\n\\nCARTELERA: \" + JSON.stringify($('Code in JavaScript').first().json.cartelera)) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "8f119cce-a1a1-44a5-ad9a-296663ab9ba0",
      "name": "Generar Prompt Musical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseText = $input.first().json.choices[0].message.content;\nlet result = { pelicula: \"Película\", style: \"ambient, electronic\" };\n\ntry {\n  const cleaned = responseText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n  const parsed = JSON.parse(cleaned);\n  if (parsed.pelicula) result.pelicula = parsed.pelicula;\n  if (parsed.style) result.style = parsed.style;\n} catch (e) {\n  result.style = responseText;\n}\n\nreturn [{ \n  json: { \n    pelicula: result.pelicula, \n    style: result.style,\n    caption: `🎵 *Banda Sonora de la Película* 🎬\\n\\n🎥 *Película:* ${result.pelicula}\\n🎹 *Estilo:* ${result.style}\\n\\n*Nota:* Ejecutado en modo de CPU de bajo consumo (Resiliente). ¡Aquí tienes tu melodía de muestra sintetizada en MinIO! ⚡`\n  } \n}];"
      },
      "id": "5b6c3e25-c79f-4dff-96ce-da5539b4421b",
      "name": "Parsear BSO Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://comfyui:8188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"n8n_client\",\n  \"prompt\": {\n    \"1\": {\n      \"inputs\": {\n        \"model_size\": \"small\",\n        \"duration\": 4,\n        \"guidance_scale\": 3.0,\n        \"do_sample\": true,\n        \"max_new_tokens\": 150,\n        \"seed\": 444802871,\n        \"prompt\": \"{{ $json.style }}\",\n        \"temperature\": 1.0,\n        \"duration_override\": 0\n      },\n      \"class_type\": \"HuggingFaceMusicGen\"\n    },\n    \"2\": {\n      \"inputs\": {\n        \"filename_prefix\": \"ComfyUI\",\n        \"format\": \"wav\",\n        \"quality\": \"128k\",\n        \"audio\": [\"1\", 0]\n      },\n      \"class_type\": \"SaveAudioStandalone\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "09ac89b5-71d4-4bb9-b34d-102e96736170",
      "name": "ComfyUI Queue Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        320,
        256
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.BOT_TOKEN }}/sendAudio",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chat_id",
              "value": "={{ $('Webhook').first().json.body.message.chat.id }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Parsear BSO Prompt').first().json.caption }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "c4611c22-366e-4f6d-a691-497e27ab4434",
      "name": "Enviar Audio Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        256
      ],
      "id": "f013e5d0-ce75-4501-ba3a-303191aea498",
      "name": "Wait",
      "webhookId": "63f287e3-e958-4b37-9d00-a038f2b24eae"
    },
    {
      "parameters": {
        "command": "ls -t /root/.n8n-files/audio/*.wav | head -n 1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        288
      ],
      "id": "d5bc4ae8-5a31-4e62-8e34-4be875df0c07",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.stdout.trim() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        880,
        288
      ],
      "id": "69fbd7a0-79ac-4c20-9b94-5a59e143d460",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Clasificador de Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de Intención": {
      "main": [
        [
          {
            "node": "Enrutador de Consultas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador de Consultas": {
      "main": [
        [
          {
            "node": "Generar Prompt Musical",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Acomodador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Acomodador": {
      "main": [
        [
          {
            "node": "Extraer Respuesta Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Respuesta Chat": {
      "main": [
        [
          {
            "node": "Enviar Respuesta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Prompt Musical": {
      "main": [
        [
          {
            "node": "Parsear BSO Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear BSO Prompt": {
      "main": [
        [
          {
            "node": "ComfyUI Queue Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI Queue Prompt": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Enviar Audio Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f5fcc5f1-74b2-416c-aa5d-8441309e0883",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48290d566f203b93276bb64d9746dd29d55b9eff1921fdafc197866bb84bdf1b"
  },
  "id": "ot5oGY75bgoGdBvx",
  "tags": []
}